<div class="container-fluid">
  <h1><%= blog.title %></h1>
  <p><%= blog.content %></p>
  <p>By: <%= blog.userId.name %></p>
  <p>Date: <%= blog.createdAt %></p>
  <% if(user && String(user.id) === String(blog.userId.id)) { %>
  <button
    class="btn btn-lg btn-outline-dark"
    id="delete-btn"
    data-id="<%= blog._id %>"
  >
    Delete
  </button>
  <button
    class="btn btn-lg btn-outline-dark"
    id="update-btn"
    data-id="<%= blog._id %>"
  >
    Update
  </button>
  <% } %>
</div>

<script src="/js/detail.js"></script>
