<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/nav") %>
    <div class="container-fluid">
      <h1>Edit blog.</h1>
      <form>
        <div class="form-group">
          <label for="title">Title:</label>
          <input
            class="form-control"
            type="text"
            id="title"
            placeholder="Title"
            value="<%= blog.title %>"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="content">Content:</label>
          <textarea
            class="form-control"
            rows="5"
            cols="30"
            id="content"
            placeholder="Write your post here"
          >
<%= blog.content %></textarea
          >
        </div>
        <button
          id="update-btn"
          class="btn btn-lg btn-dark"
          data-id="<%= blog._id %>"
        >
          Update
        </button>
      </form>
    </div>

    <script src="/js/update.js"></script>
    <%- include("../partials/footer") %>
  </body>
</html>
